<q-expansion-item group="extras" icon="info" label="About LocalBitcoins">
  <q-card>
    <q-card-section>
      <p>
        bmewj's Nostr LocalBitcoins extension is a simple front-end-only nostr
        client for discovering and publishing peer-to-peer currency exchange offers
        on the Nostr protocol.
      </p>
      <small
        >Created by
        <a
          class="text-secondary"
          href="https://github.com/bmewj"
          target="_blank"
          >bmewj</a
        >.</small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
